:root[data-theme="default"] {
  --primary-color: #01aaec;
  --primary-color-dark: #0074c7;
  --secondary-color: #9a9a9a;
  --secondary-color-dark: #5d5c5c;
  --success-color: #3dc048;
  --success-color-dark: #378f3c;
  --warning-color: #f3a42e;
  --warning-color-dark: #d37210;
  --danger-color: #e74343;
  --danger-color-dark: #a93333;
}