:root[data-theme="simple"] {
  --primary-color: #2d2d2d;
  --primary-color-dark: #000000;
  --secondary-color: #777676;
  --secondary-color-dark: #6e6e6e;
  --success-color: #14be20;
  --success-color-dark: #069812;
  --warning-color: #ec8f14;
  --warning-color-dark: #c77219;
  --danger-color: #da1616;
  --danger-color-dark: #b61010;
}