.button {
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.98);
  }

  &[data-size="sm"] {
    padding: 0.6rem;
    font-size: 0.8rem;
    min-width: 8rem;
  }

  &[data-size="md"] {
    padding: 0.7rem;
    font-size: 1rem;
    min-width: 12rem;
  }

  &[data-size="lg"] {
    padding: 0.8rem;
    font-size: 1.2rem;
    min-width: 16rem;
  }

  &[data-variant="solid"] {
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 0.4rem gray;
    &[data-color="primary"] {
      background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-dark) 100%);
    }
    &[data-color="secondary"] {
      background: linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-dark) 100%);
    }
    &[data-color="success"] {
      background: linear-gradient(90deg, var(--success-color) 0%, var(--success-color-dark) 100%);
    }
    &[data-color="warning"] {
      background: linear-gradient(90deg, var(--warning-color) 0%, var(--warning-color-dark) 100%);
    }
    &[data-color="danger"] {
      background: linear-gradient(90deg, var(--danger-color) 0%, var(--danger-color-dark) 100%);
    }
  }

  &[data-variant="outline"] {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    &[data-color="primary"] {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
    &[data-color="secondary"] {
      color: var(--secondary-color);
      border-color: var(--secondary-color);
    }
    &[data-color="success"] {
      color: var(--success-color);
      border-color: var(--success-color);
    }
    &[data-color="warning"] {
      color: var(--warning-color);
      border-color: var(--warning-color);
    }
    &[data-color="danger"] {
      color: var(--danger-color);
      border-color: var(--danger-color);
    }
  }
}